[submodule "submodules/usual-objects"]
	path = submodules/usual-objects
	url = https://github.com/eccelerators/usual-objects.git
[submodule "submodules/sphinx-template"]
	path = submodules/sphinx-template
	url = https://github.com/eccelerators/sphinx-template.git
[submodule "submodules/eccelerators-docbook"]
	path = submodules/eccelerators-docbook
	url = https://github.com/eccelerators/eccelerators-docbook.git
[submodule "submodules/sphinx_docbook"]
	path = submodules/sphinx_docbook
	url = https://github.com/eccelerators/sphinx_docbook.git
[submodule "submodules/interrupt-generator"]
	path = submodules/interrupt-generator
	url = https://github.com/eccelerators/interrupt-generator.git
[submodule "submodules/bus-divider"]
	path = submodules/bus-divider
	url = https://github.com/eccelerators/bus-divider.git
[submodule "submodules/bus-join"]
	path = submodules/bus-join
	url = https://github.com/eccelerators/bus-join.git
[submodule "submodules/vhdl-eccelerators-basic-package"]
	path = submodules/vhdl-eccelerators-basic-package
	url = https://github.com/eccelerators/vhdl-eccelerators-basic-package.git
[submodule "submodules/interrupt-dispatcher"]
	path = submodules/interrupt-dispatcher
	url = https://github.com/eccelerators/interrupt-dispatcher.git
[submodule "submodules/setup2modelsim"]
	path = submodules/setup2modelsim
	url = https://github.com/eccelerators/setup2modelsim.git
	branch = main
[submodule "submodules/setup2ghdl"]
	path = submodules/setup2ghdl
	url = https://github.com/eccelerators/setup2ghdl.git
	branch = main

[submodule "submodules/basic-ant-builds"]
	path = submodules/basic-ant-builds
	url = https://github.com/eccelerators/basic-ant-builds.git
	branch = main
[submodule "submodules/break-docbook-program-listing"]
	path = submodules/break-docbook-program-listing
	url = https://github.com/eccelerators/break-docbook-program-listing.git
	branch = main

[submodule "submodules/simstm"]
	path = submodules/simstm
	url = https://github.com/eccelerators/simstm.git
	branch = main
